<a 
  class="btn btn-outline-secondary btn-sm" 
  data-toggle="collapse" href="#checkoutForm" role="button" 
  aria-expanded="false" aria-controls="checkoutForm" data-toggle="modal" data-target="#sideCartModalId"
  data-toggle="modal" data-target="#basicExample" (click)="checkoutModal.show()"
  >
  Checkout
  <i class="fa fa-heart"></i>
</a>


<div mdbModal #checkoutModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right modal-secondary modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Finalize sua compra
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="checkoutModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body">
        <a 
          class="btn btn-outline-secondary btn-sm" 
          data-toggle="collapse" role="button" 
          aria-expanded="false" data-target="#confirmAddress"
          >
            Confirmar endereço
          <i class="fa fa-heart"></i>
        </a>
        <div class="collapse in text-center md-form form-sm" id="confirmAddress" [formGroup]="checkoutFormAddress">
          Confirme ou altere seus dados de entrega =)
            <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-labelledby="cep" class="form-control" id="cep" formControlName="cep" data-error="seu cep está certo?">
                <label for="cep">CEP</label>
            </div> 
            <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-labelledby="rua" aria-required="true" class="form-control" id="rua" formControlName="rua"
                data-error="campo obrigatório">
                <label for="rua">Rua</label>
              </div>
              <div class="input-group mt-4">
                <input mdbInputDirective type="number" aria-labelledby="numero" aria-required="true" class="form-control" id="numero" formControlName="numero" 
                data-error="campo obrigatório" >
                <!-- [value]="user.numero"   -->
                <label for="numero">Número</label>
              </div>
              <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-labelledby="complemento" class="form-control" id="complemento" formControlName="complemento" 
                data-error="campo obrigatório" >
                <!-- [value]="user.complemento" -->
                <label for="complemento">Complemento</label>
            </div>
            <a 
              class="btn btn-outline-success btn-sm" role="button" (click)="correiosService.calcFrete(checkoutFormAddress.value.cep)">
              Clique para confirmar o endereço
            </a>
          </div>
          
          <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#cartProductTable" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Mostrar produtos</a>  
          <div class="row">
              <div class="col">
                 <div class="collapse" id="cartProductTable">
                    <table class="table table-hover table-sm" id="prodTableCart">
                       <thead>
                          <tr>
                             <th scope="col">Produto</th>
                             <th scope="col">Preço</th>
                             <th scope="col">Quantidade</th>
                             <th scope="col">Subtotal</th>
                             <th>Ações</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr *ngFor="let product of itens">
                             <td scope="row">{{product.nome}}</td>
                             <td scope="row">{{product.preco}}</td>
                             <td scope="row">{{product.quantidade}}</td>
                             <td scope="row">{{product.subtotal}}</td>
                             <td>
                                <button class="btn btn-secondary btn-sm" aria-label="remover {{product.nome}} do carrinho" mdbTooltip="Remover Item" placement="top" (click)="products.removeThis(product.id); deleteModal.show();">
                                <i class="fa fa-remove"></i>
                                </button>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <p> Total: R${{products.total}} </p> 
                 </div>
              </div>
           </div>
           <hr>
           <div class="mt-2 mb-2">

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="metodoBoleto" (click)="cardToggle()" name="inlineDefaultRadiosExample" mdbInputDirective>
                <label class="custom-control-label" for="metodoBoleto" (click)="cardToggle()">Boleto</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="metodoCartao" name="inlineDefaultRadiosExample" disabled mdbInputDirective>
                <label class="custom-control-label" for="metodoCartao" data-toggle="collapse" href="#dadosCartao" (click)="cardToggle('1'); createCardFormGroup()">Cartão</label>
              </div>
              <div *ngIf="isCardMethod" id="dadosCartao">
                  <div class="text-center md-form form-sm" [formGroup]="checkoutFormCard" id="dadosCartao" aria-label="Insira os dados do cartão">
                    Insira os dados do cartao
                    <div class="input-group mt-4">
                        <input mdbInputDirective type="number" aria-labelledby="nome_titular dadosCartao" class="form-control" id="nome_titular" formControlName="nome_titular" data-error="">
                        <label for="nome_titular">Nome do Titular</label>
                    </div> 
                    <div class="input-group mt-4">
                        <input mdbInputDirective type="number" aria-labelledby="numero dadosCartao" class="form-control" id="numero" formControlName="numero" data-error="">
                        <label for="numero">Número</label>
                    </div>
                    <div class="input-group mt-4">
                        <input mdbInputDirective type="number" aria-labelledby="cvv dadosCartao" class="form-control" id="cvv" formControlName="cvv" data-error="">
                        <label for="cvv">CVV</label>
                    </div> 
                    <div class="input-group mt-4">
                        <input mdbInputDirective type="number" aria-labelledby="data_expiracao dadosCartao" class="form-control" id="data_expiracao" formControlName="data_expiracao" data-error="">
                        <label for="data_expiracao">Data de expiração</label>
                    </div> 
                  </div> 
              </div>
            </div>
            <hr>
            <div *ngIf="correiosService.freteOk && !correiosService.loading">
                <i class="fa fa-gift mb-2 fa-3x"></i>
                <div class="flexFrete">
                  <div>
                      <span><strong>Sedex</strong></span>
                      <p>Por R${{correiosService.correiosInfo.sedex.valor}}.</p>
                      <p>Em até {{correiosService.correiosInfo.sedex.prazo}} dia(s).</p>
                      <input type="radio" class="custom-control-input" id="sedex" name="frete" aria-labelledby="sedex" mdbInputDirective (click)="setFrete('sedex')">
                      <label class="custom-control-label" for="sedex">Sedex</label>  
                  </div>
                  <div>
                      <span><strong>PAC</strong></span>
                      <p>Por R${{correiosService.correiosInfo.pac.valor}}.</p>  
                      <p>Em até {{correiosService.correiosInfo.pac.prazo}} dia(s).</p>  
                      <input type="radio" class="custom-control-input" id="PAC"name="frete" aria-labelledby="PAC" mdbInputDirective (click)="setFrete('PAC')">
                      <label class="custom-control-label" for="PAC">PAC</label>  
                  </div>
                </div>
            </div>
            <div *ngIf="!correiosService.loading && !correiosService.freteOk">
              Confirme seu endereço para ver o frete :)
            </div>
                <div *ngIf="correiosService.loading">
                  <img class="loaderImg" src="../../assets/imgs/icons/loader.gif" alt="carregando...">
                </div>
          
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect btn-sm" data-dismiss="modal" mdbWavesEffect (click)="checkoutModal.hide()">Cancelar</a>
        <a class="btn btn-outline-secondary btn-sm" role="button" aria-expanded="false" (click)="sendData()">Finalizar Compra</a>
      </div>
    </div>
  </div>
</div>


<div mdbModal #deleteModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tem certeza?</p>
      </div>

      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="deleteModal.hide(); products.removeItem();"
          mdbWavesEffect>Sim</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="deleteModal.hide(); product.esvaziarCarrinhoToggle(false)">Não</a>
      </div>
    </div>
  </div>
</div>