<a 
  class="btn btn-outline-secondary btn-sm" 
  data-toggle="collapse" href="#checkoutForm" role="button" 
  aria-expanded="false" aria-controls="checkoutForm" data-toggle="modal" data-target="#sideCartModalId"
  data-toggle="modal" data-target="#basicExample" (click)="checkoutModal.show()"
  >
  Checkout
  <i class="fa fa-heart"></i>
</a>


<div mdbModal #checkoutModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right modal-secondary modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Finalize sua compra
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="checkoutModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="collapse in text-center md-form form-sm" id="confirmAddress">
          Confirme ou altere seus dados de entrega =)
            <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-label="rua" class="form-control" id="cep" formControlName="cep" data-error="seu cep está certo?" [value]="user.cep">
                <label for="cep">CEP</label>
            </div> 
            <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-label="rua" class="form-control" id="rua" formControlName="rua"
                data-error="campo obrigatório"
                [value]="user.rua">
                <label for="rua">Rua</label>
              </div>
              <div class="input-group mt-4">
                <input mdbInputDirective type="number" aria-label="numero" class="form-control" id="numero" formControlName="numero" 
                data-error="campo obrigatório" [value]="user.numero">  
                <label for="numero">Número</label>
              </div>
              <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-label="complemento" class="form-control" id="complemento" formControlName="complemento" 
                data-error="campo obrigatório" [value]="user.complemento">
                <label for="complemento">Complemento</label>
            </div>
          </div>
          <a 
            class="btn btn-outline-secondary btn-sm" 
            data-toggle="collapse" role="button" 
            aria-expanded="false" data-target="#confirmAddress"
            >
            Confirmar endereço
            <i class="fa fa-heart"></i>
          </a>
          <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#cartProductTable" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Mostrar produtos</a>  
          <div class="row">
              <div class="col">
                 <div class="collapse" id="cartProductTable">
                    <table class="table table-hover table-sm" id="prodTableCart">
                       <thead>
                          <tr>
                             <th scope="col">Produto</th>
                             <th scope="col">Preço</th>
                             <th scope="col">Quantidade</th>
                             <th scope="col">Subtotal</th>
                             <th>Ações</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr *ngFor="let product of carrinho">
                             <td scope="row">{{product.nome}}</td>
                             <td scope="row">{{product.preco}}</td>
                             <td scope="row">{{product.quantidade}}</td>
                             <td scope="row">{{product.subtotal}}</td>
                             <td>
                                <button class="btn btn-secondary btn-sm" mdbTooltip="Remover Item" placement="top" (click)="removeThis(product.id); deleteModal.show();">
                                <i class="fa fa-remove"></i>
                                </button>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                    <p> Total: R${{total}} </p>
                 </div>
              </div>
           </div>
          
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal" mdbWavesEffect (click)="checkoutModal.hide()">Cancelar</a>
      </div>
    </div>
  </div>
</div>
