<app-menu></app-menu>
<div class="container content">
  <div class="row">
    <div class="col-md-4">
      <h2>Missão</h2>
      <p class="alignedText">
        Incitar a promoção da autoestima de forma clara e resgatar o espiríto do brincar ;).
      </p>
      <h2>Visão</h2>
      <p class="alignedText">
        Entregar felicidade a pessoas de todas as idades através de nossos produtos.
      </p>
      <h2>Valores</h2>
      <p class="alignedText">Promover o Consumo consciente: Entregar produtos regulamentados e de confiança é uma forma de caminhar com as tendências
        da moda e promover o consumo consciente.</p>
      <p class="alignedText">Valorizar a Cultura Nacional: Temos a “brasilidade” como conceito que transmite em cada peça. Valorizamos acessibilidade,
        cores, características culturais, costumes e outros elementos que enaltecem a diversidade.</p>
    </div>

    <div class="col-md-6">

      <h2>Quem Somos</h2>
      <p class="alignedText">A ChildPlay foi fundada em 1988 na cidade de São Paulo pelo senhor Tom Holland, grande empresário do ramo do varejo
        nos Estados Unidos. Durante uma viagem a São Paulo em 1985, Holland viu a oportunidade de crescimento na cidade,
        então passou três anos planejando em investir em algum nicho que pudesse retornar algo grandioso e de valor.</p>
      <p class="alignedText">
        Desde então, a ChildPlay criou lojas físicas no Brasil inteiro, até a data de hoje (30/11/2018) a ChildPlay conta com 22
        lojas físicas e 300 funcionários. Foi então que Holland e sua equipe perceberam que algo mais precisava ser feito
        para que a loja continuasse crescendo e ter a capacidade de concorrer de igual para igual com seus concorrentes.
        Daí a ideia de investir nesse maravilhoso e-commerce que você está vendo agora
      </p>

    </div>
    <div class="col-md-2">
      <h2>PARCEIROS</h2>
      <ul class="alignedText">
        <li>https://www.rihappy.com.br/</li>
        <li>https://www.pbkids.com.br/</li>
        <li>https://www.mpbrinquedos.com.br/</li>
        <li>https://www.lojasjcbrinquedos.com.br/</li>
      </ul>
    </div>
  </div>
</div>