<div mdbModal #loginModal="mdbModal" class="modal fade right" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myloginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Fechar" data-toggle="modal" data-target="#loginModal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Login</h4>
      </div>
      <div *ngIf="!loader && !loggedIn" id= "formLogin" class="modal-body text-center md-form form-sm" [formGroup]="loginForm" aria-label="formulário para login">
        <div class="input-group mb-4">
          <input mdbInputDirective type="email" class="form-control input-sm" id="inputEmailLogin" aria-labelledby="inputEmailLogin formLogin" aria-required="true" data-error="email invalido"
            data-success="email dos bons" formControlName="login">
          <label for="inputEmailLogin">Email</label>
        </div>
        <div class="input-group mb-4">
          <input type="password" class="form-control input-sm" id="inputPasswordLogin" aria-labelledby="inputPasswordLogin formLogin" mdbInputDirective formControlName="senha" [mdbValidate]="false" aria-required="true"> 
          <label for="inputPasswordLogin">Senha</label>
        </div>
      </div>
      <div *ngIf="loggedIn" aria-label="Olá, {{name}}">
        <h3>Olá, {{name}}!</h3>
      </div>
      <div *ngIf="loader" class="text-center" aria-describedby="Carregando">
        <app-custom-loader></app-custom-loader>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Cancelar login" data-toggle="modal" data-target="#loginModal"
          mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" aria-label="Entrar" mdbWavesEffect (click)="validateValues()" [disabled]="!loginForm.valid">Entrar</button>
      </div>
    </div>
  </div>
</div>