<div *ngIf='!loading && !returnMessage' class="text-center md-form form-sm" [formGroup]="formGroup">

  <div class="input-group mb-4">
    <input mdbInputDirective type="email" class="form-control input-sm" id="inputEmail" aria-label="insira o email" aria-required="true"
      data-error="email invalido" data-success="email dos bons" formControlName="email">
    <label for="inputEmail">Email</label>
  </div>
  <div class="input-group mb-4">

    <input type="password" class="form-control input-sm" id="inputPassword" mdbInputDirective aria-label="insira a senha" aria-describedby="senha com no mínimo 8 caracteres"
      aria-required="true" data-error="senha pequena" data-success="senha boa" formControlName="senha">
    <label for="inputPassword">Senha</label>
  </div>
  <div class="input-group mb-4">
    <input type="password" (keyup)="checkPassword($event)" class="form-control input-sm" id="inputRepeatPassword" mdbInputDirective
      aria-label="repita a senha" aria-required="true" [mdbValidate]="false">
    <label>Repita a senha</label>
  </div>
  <div *ngIf="matchPassword; else errorPass">
    <div class="alert alert-success" role="alert" aria-label="as senhas coincidem">
      As senhas coincidem ;)
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="text-info">&times;</span>
      </button>
    </div>
  </div>
  <ng-template #errorPass>
    <div class="alert alert-danger" role="alert" *ngIf="!dontMatch && clicked" aria-label="as senhas não coincidem">
      As senhas não coincidem :O
      <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true" class="text-white /bn">&times;</span>
      </button>
    </div>
  </ng-template>

  <small id="dataHelp" class="form-text text-muted">Seus dados estão seguros conosco :)</small>

  <div class="input-group mt-4">
    <input mdbInputDirective type="text" class="form-control input-sm" id="name" aria-labelledby="name" formControlName="nome"
      data-success="Que nome bonito, hein ;)" data-error="campo obrigatório">
    <label for="name">Nome</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" class="form-control input-sm" id="cpf" aria-labelledby="cpf" aria-required="true" formControlName="cpf"
      data-success="Boa, jovem!" data-error="campo obrigatório">
    <label for="cpf">CPF</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" aria-labelledby="cep" aria-required="true" class="form-control" id="cep" formControlName="cep"
      data-error="seu cep está certo?" data-success="Campo não obrigatório ;)">
    <label for="cep">CEP</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" data-success="Campo não obrigatório ;)" aria-labelledby="rua" class="form-control" id="rua"
      formControlName="logradouro">
    <label for="rua">Rua</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="number" data-success="Campo não obrigatório ;)" aria-labelledby="numero" aria-required="true"
      class="form-control" id="numero" formControlName="numero" data-error="campo obrigatório">
    <label for="numero">Número</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" data-success="Campo não obrigatório ;)" aria-labelledby="complemento" class="form-control"
      id="complemento" formControlName="complemento" data-error="campo obrigatório">
    <label for="complemento">Complemento</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" data-success="Campo não obrigatório ;)" aria-labelledby="bairro" class="form-control"
      id="bairro" formControlName="bairro">
    <label for="bairro">Bairro</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" data-success="Campo não obrigatório ;)" aria-labelledby="cidade" class="form-control"
      id="cidade" formControlName="cidade">
    <label for="cidade">Cidade</label>
  </div>
  <div class="input-group mt-4">
    <input mdbInputDirective type="text" data-success="Campo não obrigatório ;)" aria-labelledby="uf" class="form-control" id="uf"
      formControlName="uf">
    <label for="uf">UF</label>
  </div>
</div>
<div *ngIf="facebook" class="modal-footer justify-content-center">
  <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" aria-label="Cancelar" data-dismiss="modal" mdbWavesEffect
    (click)="oldUser.hide(); subscribeModal.hide();" data-toggle="modal" data-target="#sideCartModalId">Cancelar</a>
  <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" aria-label="Cadastrar" mdbWavesEffect (click)="sendData()"
    data-target="#sideCartModalId">Cadastrar</a>
</div>