<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Brinquedos</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link">Brinquedos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Colecionáveis</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Livros</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a type="button" mdbBtn color="primary" class=" nav-link relative waves-light" (click)="listarPedidos.show()" mdbWavesEffect>Listar pedidos</a>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto mt-3">
            <form class="form-inline">
                <input class="form-control form-control-sm " type="search" placeholder="Pesquise um produto" aria-label="Search">
            </form>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link btn btn-primary blue waves-effect waves-light" data-toggle="modal" data-target="#sideCartModalId"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <div *ngIf="!this.GS.logado; else userOK">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link btn btn-primary blue waves-effect waves-light" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
            </div>
            <ng-template #userOK>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a href="#" class="nav-link" [routerLink]="['/minhaconta']">Minha Conta</a>
                </li>
            </ng-template>
        </ul>
    </links>
</mdb-navbar>

<!-- <div mdbModal #listarPedidos="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mylistarPedidosLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="listarPedidos.hide()">
                <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Listagem de pedidos</h4>
            </div>
            <div class="modal-body">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="carregarPedidos()" mdbWavesEffect>Clique para carregar</button>
                <table class="table table-hover table-sm" id="listagemPedidos">
                        <thead>
                           <tr>
                              <th scope="col">Data pedido</th>
                              <th scope="col">Endereço entrega</th>
                              <th scope="col">Protocolo</th>
                              <th scope="col">Status</th>
                              <th scope="col">Tipo de pagamento</th>
                              <th scope="col">Valor do Frete</th>
                              <th scope="col">Valor</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let pedido of pedidos?.data">
                              <td scope="row">{{ pedido.dataPedido }}</td>
                              <td scope="row">{{ pedido.enderecoEntrega }}</td>
                              <td scope="row">{{ pedido.protocolo }}</td>
                              <td scope="row">{{ pedido.status }}</td>
                              <td scope="row">{{ pedido.tipoPagamento }}</td>
                              <td scope="row">{{ pedido.valorFrete }}</td>
                              <td scope="row">{{ pedido.valorTotal }}</td>
                           </tr>
                        </tbody>
                     </table>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="listarPedidos.hide()" mdbWavesEffect>Fechar</button>
            </div>
            </div>
        </div>
    </div> -->
