<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>Brinquedos</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link">Brinquedos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Colecionáveis</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Livros</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Esportes</a>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto mt-3">
            <form class="form-inline">
                <input class="form-control form-control-sm " type="search" placeholder="Pesquise um produto" aria-label="Search">
            </form>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link btn btn-primary blue waves-effect waves-light" data-toggle="modal" data-target="#sideCartModalId"><i class="fa fa-shopping-cart"></i></a>
            </li>    
            <li class="nav-item waves-light" mdbRippleRadius>
                <a href="#" class="nav-link">Login</a></li>
        </ul>
    </links>
</mdb-navbar>