<a class="btn btn-outline-info btn-sm" data-toggle="collapse" role="button" aria-expanded="false" data-toggle="modal" (click)="lowInventory.show()">
  Avise-me quando estiver disponível
  <i class="fa fa-heart"></i>
</a>

<div mdbModal #lowInventory="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  style="overflow-y: auto" aria-hidden="true">
  <div class="modal-dialog modal-right modal-secondary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" *ngIf="!loader && !success"> Me manda email! 😍</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="lowInventory.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div> 
      <div class="loader">
        <div *ngIf="loader" class="modal-body text-center md-form form-sm">
          <app-custom-loader ></app-custom-loader>

        </div>
      </div>
      <div *ngIf="!loader && success" class="modal-body text-center md-form form-sm">
        <small class="form-text text-muted">{{message}}</small>
        <button type="button" mdbBtn class="waves-light btn btn-outline-secondary btn-sm" aria-label="Finalizar" data-dismiss="modal" (click)="lowInventory.hide()"
          mdbWavesEffect>Finalizar</button>
      </div>
      <div *ngIf="!loader && !success" class="modal-body text-center md-form form-sm" [formGroup]="lowInventoryForm">
        <small class="form-text text-muted">Opa, tem produto que acabou?</small>
        <small class="form-text text-muted">Não fique triste, deixe seu email e seu nome abaixo e te avisaremos quando ele estiver disponível.</small>
        <h4>😉</h4>
        <div class="input-group mb-4">
          <input mdbInputDirective type="email" class="form-control input-sm" id="inputEmail" aria-label="insira o email" aria-required="true"
            data-error="email invalido" data-success="email dos bons" formControlName="email">
          <label for="inputEmail">Email</label>
        </div>
        <div class="input-group mb-4">
          <input mdbInputDirective type="text" class="form-control input-sm" id="inputNome" aria-label="insira o seu nome" aria-required="true"
            data-error="Nome pequeno demais" data-success="Que nome bonito, hein ^^" formControlName="name">
          <label for="inputNome">Nome</label>
        </div>
        <a class="btn btn-outline-secondary btn-sm" role="button" aria-expanded="false" (click)="sendEmail()">
          Enviar
        </a>
      </div>
    </div>
  </div>