<div id="products" class="row view-group">
  <div class="container">
    <div class="row">
      <div class="item col-xs-4 col-lg-4 mt-4" *ngFor="let product of products">
        <div class="thumbnail card">
            <div class="img-event">
                <img class="group list-group-image img-fluid" [src]="product?.src" [alt]="product?.alt" />
            </div>
            <div class="caption card-body">
                <h4 class="group card-title inner list-group-item-heading">
                    {{product?.name}}</h4>
                <p class="group inner list-group-item-text">
                    {{product?.description}}
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            R$
                            {{product?.price}}
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="changeProduct(product); basicModal.show()" mdbWavesEffect>Comprar</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->
<!--  -->
<!--  -->
<!-- Product Description -->

<div mdbModal #basicModal="mdbModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" style="overflow-y: auto">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">{{item.name}}</h4>
        </div>
        <div class="modal-body" [formGroup]="formulario">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" [src]="item?.src" [alt]="item?.alt" />
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            {{item?.name}}</h4>
                            <p class="group inner list-group-item-text">
                                {{item?.description}}
                            </p>
                            <p class="group inner list-group-item-text">
                                <strong>Faixa etária: </strong> {{item?.age}}
                            </p>
                            <p class="group inner list-group-item-text">
                                <strong>Características: </strong>{{item?.carac}}
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        R$
                                        {{item?.price}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text autofocus" id="basic-addon1">Quantidade</span>
                        </div>
                        <input 
                            type="number" 
                            class="form-control" 
                            placeholder="00" 
                            aria-label="quantity" 
                            formControlName="quantidade" 
                            aria-describedby="basic-addon1"
                            autofocus
                            >
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="success" id="productAddedToCartAlert">
                            <strong>Boa!</strong> Item adicionado com sucesso ao carrinho!
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="quantityError" id="invalidQuantityAlert">
                            <strong>Preencha a quantidade!</strong> Tem que comprar mais que zero, né?xD
                        </div>
            </div>
            <div class="modal-footer">
                <div class="alignModalButtons">
                    <button type="button" mdbBtn class="btn btn-secondary btn-sm" (click)="checkValue(item.name, item.id, item.price)">Adicionar</button>
                    <button type="button" mdbBtn class="btn btn-primary btn-sm" OnClick="addItemToCart('+i+'); createCheckoutModal();">Adicionar e finalizar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
<!--  -->
<!--  -->
<!-- Cart Modal -->

<div _ngcontent-c0="" aria-labelledby="myModalLabel" class="modal fade right modal-scrolling" data-backdrop="false" id="sideModalTRSuccessDemo" role="dialog" style="display: none;" tabindex="-1" aria-hidden="true" style="overflow-y: auto"  >
    <div _ngcontent-c0="" class="modal-dialog modal-side modal-top-right modal-notify modal-primary" role="document">
        <div _ngcontent-c0="" class="modal-content">
            <div _ngcontent-c0="" class="modal-header">
                <p _ngcontent-c0="" class="heading lead">Carrinho</p>
                <button _ngcontent-c0="" aria-label="Close" class="close" data-dismiss="modal" type="button"><span _ngcontent-c0="" aria-hidden="true" class="white-text">×</span></button>
            </div>
            <div _ngcontent-c0="" class="modal-body">
                <div _ngcontent-c0="" class="text-center">
                    <form id="cartForm">  
                        <div class="form-group">  
                            <div class="alignModalButtons">  
                                <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#cartProductTable" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Mostrar produtos</a>  
                                <button class="btn btn-sm btn-outline-danger" id="resetCart">Esvaziar carrinho</button>  
                            </div>      
                        <div class="row">
                        <div class="col">  
                            <div class="collapse" id="cartProductTable">
                                <table class="table table-hover table-sm" id="prodTableCart" _ngcontent-c0="">   
                                    <thead>  
                                        <tr>  
                                            <th scope="col">Produto</th>  
                                            <th scope="col">Preço</th>  
                                            <th scope="col">Quantidade</th>  
                                            <th scope="col">Subtotal</th>
                                            <th>Ações</th>
                                        </tr>  
                                    </thead>  
                                    <tbody>
                                        <tr *ngFor="let product of carrinho">
                                            <td scope="row">{{product.nome}}</td>
                                            <td scope="row">{{product.preco}}</td>
                                            <td scope="row">{{product.quantidade}}</td>
                                            <td scope="row">{{product.subtotal}}</td>
                                            <td>
                                                <button class="btn btn-secondary btn-sm" (click)="removeThis(product.id); frame.show();">
                                                    <i class="fa fa-remove" mdbTooltip="Remover Item" placement="top" ></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>      
                                </table>  
                                <p> Total: R${{total}} </p>  
                            </div>  
                        </div>  
                        </div>  
                        <div class="mt-2">  
                            <app-subscribe></app-subscribe>
                        </div>
                    </div>
                    </form>  
                </div>  
                </div>
            </div>
        </div>
    </div>

    <!--  -->
    <!--  -->
    <!--  -->
    <!-- Confirm delete -->
  

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tem certeza?</p>
      </div>

      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="frame.hide(); removeItem();"
          mdbWavesEffect>Sim</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Não</a>
      </div>
    </div>
  </div>
</div>