<app-menu></app-menu>

<div class="content">
    <div class="row">
        <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#tableOrder" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"
            (click)="getOrders()">Ver pedidos</a>
        <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#tableOrdere" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" (click)="getUser()">Editar minhas informações</a>
        <table class="table table-hover table-sm collapse" id="tableOrder">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Pagamento</th>
                    <th scope="col">Frete</th>
                    <th scope="col">Data da compra</th>
                    <th scope="col">Protocolo</th>
                    <th scope="col">Produtos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td scope="row">{{order.status}}</td>
                    <td>{{order.tipoPagamento}}</td>
                    <td>{{order.valorFrete}}</td>
                    <td>{{order.dataPedido}}</td>
                    <td>{{order.protocolo}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let itens of order.itens">{{itens.produto.nome}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="collapse">
        <div class="text-center md-form form-sm ">
            <app-custom-loader *ngIf="loader"></app-custom-loader>
            <app-subscribe-form *ngIf="!loader" [formGroup]=updateInfo></app-subscribe-form>
        </div>
    </div>

</div>