<a class="btn btn-outline-secondary btn-sm" role="button" aria-expanded="false" aria-controls="subscribeForm" data-toggle="modal"
  data-toggle="modal" (click)="subscribeModal.show()">
  Cadastre-se
  <i class="fa fa-heart"></i>
</a>


<div mdbModal #subscribeModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  style="overflow-y: auto" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right modal-secondary modal-info deviceConfigs" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Cadastre-se :)
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="subscribeModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body" *ngIf="!facebook">
        <div class="text-center">
          <i class="fa fa-user fa-4x mb-3 animated rotateIn"></i>
          <a type="button" mdbBtn color="primary" class="waves-light mb-4" mdbWavesEffect (click)="socialSignIn('facebook')">Entrar com facebook
            <i class="fa fa-user ml-1"></i>
          </a>
          <hr>
        </div>
        <p>
          <strong>ou</strong>
        </p>
        <i class="fa fa-user fa-4x mb-3 animated rotateIn"></i>
        <a type="button" mdbBtn color="primary" class="waves-light mb-4" mdbWavesEffect (click)="oldUser.show()">Cadastre-se à moda antiga :)
        </a>
        <div class="modal-footer justify-content-center">
          <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal" mdbWavesEffect (click)="subscribeModal.hide()">Cancelar</a>
        </div>
      </div>
      <div class="modal-body" *ngIf="facebook">
        <small class="form-text text-muted">Por favor, complete seus dados :)</small>
        <div class="text-center md-form form-sm">
          <app-subscribe-form [formGroup]= subscribeWithFacebook [facebook]=t rue [facebookToken]=f acebookToken></app-subscribe-form>
        </div>
      </div>
    </div>
  </div>


  <div mdbModal #oldUser="mdbModal" class="modal fade right" id="oldUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    style="overflow-y: auto" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-full-height modal-right modal-secondary modal-info deviceConfigs" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead ml-3">Formulário :)
          </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="oldUser.hide(); subscribeModal.hide();"
            data-toggle="modal" data-target="#sideCartModalId">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-custom-loader *ngIf='loading'></app-custom-loader>
          <div *ngIf="error && !success">
            <small class="form-text text-muted">Ops, algo deu errado. Tente novamente xD</small>
          </div>
          <div *ngIf="success && !error">
            <small class="form-text text-muted">Cadastro realizado com sucesso!</small>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" aria-label="Prosseguir" data-dismiss="modal"
              mdbWavesEffect (click)="oldUser.hide(); subscribeModal.hide();" data-toggle="modal" data-target="#loginModal">Prosseguir para o login</a>
          </div>
          <app-subscribe-form *ngIf="!loading || success" [formGroup]=subscribeForm></app-subscribe-form>
          <div *ngIf="error && !success">
            <small class="form-text text-muted">Ops, algo deu errado. Tente novamente xD</small>
          </div>
          <div class="modal-footer justify-content-center">
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" aria-label="Cancelar" data-dismiss="modal" mdbWavesEffect
              (click)="oldUser.hide(); subscribeModal.hide();" data-toggle="modal" data-target="#sideCartModalId">Cancelar</a>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" aria-label="Cadastrar" mdbWavesEffect (click)="sendData()"
              data-target="#sideCartModalId">Cadastrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div mdbModal #errorModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Algo deu errado no formulário</p>
        </div>

        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn"></i>
        </div>

        <div class="modal-footer flex-center">
          <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="oldUser.hide()" mdbWavesEffect>Tentar novamente</a>
        </div>
      </div>
    </div>
  </div>