<a 
  class="btn btn-outline-secondary btn-sm" 
  role="button" aria-expanded="false" 
  aria-controls="subscribeForm" data-toggle="modal" 
  data-toggle="modal" (click)="subscribeModal.show()"
  >
  Cadastre-se 
  <i class="fa fa-heart"></i>
</a>


<div mdbModal #subscribeModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right modal-secondary modal-info deviceConfigs" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Cadastre-se :)
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="subscribeModal.hide()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-user fa-4x mb-3 animated rotateIn"></i>
          <a type="button" mdbBtn color="primary" class="waves-light mb-4" mdbWavesEffect (click)="socialSignIn('facebook')">Entrar com facebook
            <i class="fa fa-user ml-1"></i>
          </a>
          <hr>
        </div>
            <p>
              <strong>ou</strong>
            </p>
            <i class="fa fa-user fa-4x mb-3 animated rotateIn"></i>
            <a type="button" mdbBtn color="primary" class="waves-light mb-4" mdbWavesEffect
              (click)="oldUser.show()"
            >Cadastre-se à moda antiga :)
          </a>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal" mdbWavesEffect (click)="subscribeModal.hide()">Cancelar</a>
      </div>
    </div>
  </div>
</div>


<div mdbModal #oldUser="mdbModal" class="modal fade right" id="oldUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto"
  aria-hidden="true" 
  [config]="{backdrop: true, ignoreBackdropClick: true}"
  >
  <div class="modal-dialog modal-full-height modal-right modal-secondary modal-info deviceConfigs" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead ml-3">Formulário :)
        </p>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="oldUser.hide(); subscribeModal.hide();"data-toggle="modal" data-target="#sideCartModalId">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>
       <div class="modal-body">
        <div class="text-center md-form form-sm" [formGroup]="subscribeForm">
            
            <div class="input-group mb-4">
                <input mdbInputDirective 
                  type="email" class="form-control input-sm" id="inputEmail"
                  aria-describedby="dataHelp"
                  data-error="email invalido" data-success="email dos bons"
                  formControlName="email" 
                  [value]=value?.email
                  >
                  <label for="inputEmail">Email</label>
            </div>  
            <div class="input-group mb-4">  
                
                <input type="password" class="form-control input-sm" id="inputPassword" 
                  mdbInputDirective 
                  data-error="senha pequena" data-success="senha boa"
                  formControlName="senha"
                  [value]=value?.senha
                >
                <label for="inputPassword">Senha</label>
            </div>  
            <div class="input-group mb-4">  
                <input type="password" (keyup)="checkPassword($event)" class="form-control input-sm" id="inputRepeatPassword"
                  mdbInputDirective
                  [mdbValidate]="false"
                  [value]="value?.senha"> 
                <label>Repita a senha</label>
            </div>
            <div *ngIf="matchPassword; else errorPass">
              <div class="alert alert-success" role="alert">
                As senhas coincidem ;)
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="text-info">&times;</span>
                </button>
              </div>
            </div>
            <ng-template #errorPass>
              <div class="alert alert-danger" role="alert" *ngIf="!dontMatch && clicked">
                  As senhas não coincidem :O
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="text-white /bn">&times;</span>
                </button>
              </div>
            </ng-template>
            
             <small id="dataHelp" class="form-text text-muted">Seus dados estão seguros conosco :)</small>  
                  
            <div class="input-group mt-4">  
                <input mdbInputDirective
                  type="text" class="form-control input-sm" id="name" formControlName="nome" data-success="Que nome bonito, hein ;)" data-error="campo obrigatório"
                  [value]=value?.nome>
                <label for="name">Nome</label>
            </div>
            <div class="input-group mt-4">  
              <input mdbInputDirective
                type="text" class="form-control input-sm" id="cpf" formControlName="cpf" data-success="Que nome bonito, hein ;)" data-error="campo obrigatório"
                [value]=value?.cpf>
              <label for="cpf">CPF</label>
            </div>      
            <div class="input-group mt-4">  
                <input mdbInputDirective type="text" aria-label="rua" class="form-control" id="cep" formControlName="cep" data-error="seu cep está certo?"
                [value]=value?.cep>
                <label for="cep">CEP</label>
            </div> 
            <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-label="rua" class="form-control" id="rua" formControlName="rua"
                data-error="campo obrigatório"
                [value]=value?.rua>
                <label for="rua">Rua</label>
              </div>
              <div class="input-group mt-4">
                <input mdbInputDirective type="number" aria-label="numero" class="form-control" id="numero" formControlName="numero" 
                data-error="campo obrigatório"
                [value]=value?.numero>
                <label for="numero">Número</label>
              </div>
              <div class="input-group mt-4">
                <input mdbInputDirective type="text" aria-label="complemento" class="form-control" id="complemento" formControlName="complemento" 
                data-error="campo obrigatório"
                [value]=value?.complemento>
                <label for="complemento">Complemento</label>
            </div>
       <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal" mdbWavesEffect (click)="oldUser.hide(); subscribeModal.hide();"data-toggle="modal" data-target="#sideCartModalId">Cancelar</a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal" mdbWavesEffect (click)="oldUser.hide(); subscribeModal.hide(); sendData()"data-toggle="modal" data-target="#sideCartModalId">Cadastrar</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<!--  -->

<div mdbModal #errorModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Algo deu errado no formulário</p>
      </div>

      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="oldUser.hide()"
          mdbWavesEffect>Tentar novamente</a>
      </div>
    </div>
  </div>
</div>